<% include ./partials/header %>
  <main>
   <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header" style="padding-top: 50px">
          <h3>About Us</h3>
          <p>The Ikigai Lab was found with the mission of getting Artificial Intelligence & Data Science into the real world. More specifically into our part of the world – India. </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Standardized Assessment Inventory for potential AI Professionals – The Data Science Aptitude Test.Ikigai Training Delivery Framework.Workforce Solutions for Corporates.One-stop knowledge hub for learners.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Design</a></h4>
              <p class="description">Standard Entry Test - DSAT.Course and Instructional Design.Training Method Innovation.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Talent Exchange</a></h4>
              <p class="description">Consulting on Demand Forecasting.Hiring Best Practices in AI Age.On-Demand talent – Fluid Workforce.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Knowledge Hub</a></h4>
              <p class="description">Aggregated and Curated Information.Sorted and Indexed in one place.Crisp and Original Knowledge Capsules.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Talent Exchange</a></h4>
              <p class="description">Consulting on Demand Forecasting.Hiring Best Practices in AI Age.On-Demand talent – Fluid Workforce.</p>
            </div>


          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" style="padding-top: 70px">
            <img src="img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Data Science Super 30 is our Mission.</h4>
            <p>
              Identify Best Talent for Data Science across major cities.<br>
             Administer DSAT Entry Test on the lines of IIT JEE and CAT.<br>
            </p>
            <p>
             Pick Top 30 Brightest Minds.<br>
             Enable Delivery Partners.<br>
             Enable Industry Partnership. 
            </p>
          </div>
        </div>

        <!-- <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4></h4>
            <p>
             
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
          </div>
          
        </div>

      </div> -->
    </section><!-- #about -->



      </main>
<% include ./partials/footer %>