<% include ./partials/header %>

<main>
   <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header" style="padding-top: 50px">
          <h3>FAQs</h3>
          <p>Frequently asked Questions</p>
        </header>

        <div class="row about-container">

          <div class=" content order-lg-1 order-2 " style="margin:0 auto;">
            <!-- <p>
              Standardized Assessment Inventory for potential AI Professionals – The Data Science Aptitude Test.Ikigai Training Delivery Framework.Workforce Solutions for Corporates.One-stop knowledge hub for learners.
            </p> -->

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Question 1</a></h4>
              <p class="description">Standard Entry Test - DSAT.Course and Instructional Design.Training Method Innovation.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">Question 2</a></h4>
              <p class="description">Consulting on Demand Forecasting.Hiring Best Practices in AI Age.On-Demand talent – Fluid Workforce.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fas fa-brain"></i></div>
              <h4 class="title"><a href="">Question 3</a></h4>
              <p class="description">Aggregated and Curated Information.Sorted and Indexed in one place.Crisp and Original Knowledge Capsules.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">Question 4</a></h4>
              <p class="description">Consulting on Demand Forecasting.Hiring Best Practices in AI Age.On-Demand talent – Fluid Workforce.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fas fa-brain"></i></div>
              <h4 class="title"><a href="">Question 5</a></h4>
              <p class="description">Consulting on Demand Forecasting.Hiring Best Practices in AI Age.On-Demand talent – Fluid Workforce.</p>
            </div>


            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">Question 6</a></h4>
              <p class="description">Consulting on Demand Forecasting.Hiring Best Practices in AI Age.On-Demand talent – Fluid Workforce.</p>
            </div>


          </div>

         
        </div>
    </section>



      </main>
<% include ./partials/footer %>